.footer {
    background: #FF6347;
    height: 100px;
    position: relative;
    color: white;
    overflow: auto;
  }
  
  .footer > .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FF6347;
    padding: 8px;
    font-weight: 600;
  }
  
  .footer > .bottom > img {
    width: 20px;
    position: relative;
    top: 3px;
    left: 2px;
  }
  