.navbar .correct {
    animation: .4s correct;
  }
  
  .navbar .incorrect {
    animation: .4s incorrect;
  }
  
  @keyframes correct {
    0% {
      color: white;
    }
  
    50% {
      color: blue;
    }
  
    100% {
      color: white;
    }
  }
  
  @keyframes incorrect {
    0% {
      color: white;
    }
  
    50% {
      color: blue;
    }
  
    100% {
      color: white;
    }
  }
  